$primary-color: #5cb85c;

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #232526 0%, #414345 50%, #00c6ff 100%);
}

button {
  background: $primary-color;
  color: #fff;
  &:hover {
    background: darken($primary-color, 10%);
  }
}